# ISI YANG BENER YA JING BIAR GA EROR
# GUA CUMA RAMAKER BUKAN DEV
# JANGAN EXPECT LEBIH MEK
# CUMA MODAL COPAS TRUS GUA RAPIHIN BUT
# MIX-USERBOT - https://github.com/naya1503/Mix-Userbot
# PYROUBOT - https://github.com/AdamLex77/bocah
# GUA REMAKE DUA REPO ITU, MAKASIH BUAT SEMUA SEPUH BOT TELEGRAM
# INI FULL REMAKE YA TOT, GUA GA HAPUS KREDIT.
# UDAH GITU AJA
# TERIMAKASIH BUAT SEMUA DEVS BOT TELEGRAM YANG UDAH BIKIN REPO OPEN SOURCE YANG KEREN INI


# GET ON https://my.telegram.org/
API_ID :
API_HASH :

# GET ON https://t.me/FatherBot/
BOT_TOKEN :

# CEK AJA TOT MASA GATAU
OWNER_ID :

# GET ON https://cloud.mongodb.com/
MONGO_DB :